In [1]:
# Loading dataset disease and symptoms dataset
import pandas as pd

data = pd.read_csv("../artifacts/Disease_symptom_and_patient_profile_dataset.csv")
diseases = data.copy()
data.head()

,Disease,Fever,Cough,Fatigue,Difficulty Breathing,Age,Gender,Blood Pressure,Cholesterol Level,Outcome Variable
0,Influenza,Yes,No,Yes,Yes,19,Female,Low,Normal,Positive
1,Common Cold,No,Yes,Yes,No,25,Female,Normal,Normal,Negative
2,Eczema,No,Yes,Yes,No,25,Female,Normal,Normal,Negative
3,Asthma,Yes,Yes,No,Yes,25,Male,Normal,Normal,Positive
4,Asthma,Yes,Yes,No,Yes,25,Male,Normal,Normal,Positive

In [2]:
# Data size
data.shape

(349, 10)

In [3]:
# Info about dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 349 entries, 0 to 348
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Disease               349 non-null    object
 1   Fever                 349 non-null    object
 2   Cough                 349 non-null    object
 3   Fatigue               349 non-null    object
 4   Difficulty Breathing  349 non-null    object
 5   Age                   349 non-null    int64
 6   Gender                349 non-null    object
 7   Blood Pressure        349 non-null    object
 8   Cholesterol Level     349 non-null    object
 9   Outcome Variable      349 non-null    object
dtypes: int64(1), object(9)
memory usage: 27.4+ KB

In [4]:
# Exploratory data analysis
# Null values in the dataset
data.isnull().sum()

Disease                 0
Fever                   0
Cough                   0
Fatigue                 0
Difficulty Breathing    0
Age                     0
Gender                  0
Blood Pressure          0
Cholesterol Level       0
Outcome Variable        0
dtype: int64

In [5]:
# Duplicate entries
data.duplicated().sum()

49

In [6]:
# Remove duplicates
data.drop_duplicates(inplace=True)
data.duplicated().sum()

0

In [7]:
# Nos of dieseases
data['Disease'].value_counts()

Disease
Asthma                            16
Osteoporosis                      12
Stroke                            11
Hypertension                      10
Migraine                          10
                                  ..
Fibromyalgia                       1
Eating Disorders (Anorexia,...     1
Chickenpox                         1
Rabies                             1
Williams Syndrome                  1
Name: count, Length: 116, dtype: int64

In [8]:
# Age range
data['Age'].describe()

count    300.000000
mean      45.756667
std       12.596548
min       19.000000
25%       35.000000
50%       45.000000
75%       55.000000
max       90.000000
Name: Age, dtype: float64

In [9]:
# Numerical columns ie Age column categorization
# Categories : Less than 40 - Young, 40-60 - Mid, and above 60 aged
def age_category(age):
    if age < 40:
        return 'young'
    elif age < 60:
        return 'Middle'
    elif age >= 60:
        return 'Old'
    
data['Age'] = data['Age'].apply(lambda x: age_category(x))

In [10]:
data.head()

,Disease,Fever,Cough,Fatigue,Difficulty Breathing,Age,Gender,Blood Pressure,Cholesterol Level,Outcome Variable
0,Influenza,Yes,No,Yes,Yes,young,Female,Low,Normal,Positive
1,Common Cold,No,Yes,Yes,No,young,Female,Normal,Normal,Negative
2,Eczema,No,Yes,Yes,No,young,Female,Normal,Normal,Negative
3,Asthma,Yes,Yes,No,Yes,young,Male,Normal,Normal,Positive
5,Eczema,Yes,No,No,No,young,Female,Normal,Normal,Positive

In [11]:
# Categorical columns encoding
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
data['Fever'] = le.fit_transform(data['Fever'])
data['Cough'] = le.fit_transform(data['Cough'])
data['Fatigue'] = le.fit_transform(data['Fatigue'])
data['Difficulty Breathing'] = le.fit_transform(data['Difficulty Breathing'])
data['Age'] = le.fit_transform(data['Age'])
data['Gender'] = le.fit_transform(data['Gender'])
data['Blood Pressure'] = le.fit_transform(data['Blood Pressure'])
data['Cholesterol Level'] = le.fit_transform(data['Cholesterol Level'])
data['Outcome Variable'] = le.fit_transform(data['Outcome Variable'])

In [12]:
# Labelled data
data.head()

,Disease,Fever,Cough,Fatigue,Difficulty Breathing,Age,Gender,Blood Pressure,Cholesterol Level,Outcome Variable
0,Influenza,1,0,1,1,2,0,1,2,1
1,Common Cold,0,1,1,0,2,0,2,2,0
2,Eczema,0,1,1,0,2,0,2,2,0
3,Asthma,1,1,0,1,2,1,2,2,1
5,Eczema,1,0,0,0,2,0,2,2,1

In [13]:
# Features selection
# Predictor variables
X = data.drop(['Disease', 'Outcome Variable'], axis=1)

# Target variable
y = data['Outcome Variable']

In [14]:
# Splitting of dataset
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [15]:
# Split size verification
X_train.shape, X_test.shape

((240, 8), (60, 8))

In [16]:
# Model training
from sklearn.linear_model import LogisticRegression

logit_model = LogisticRegression()
logit_model = logit_model.fit(X_train,y_train)

In [17]:
# Model evaluation
logit_model.score(X_test,y_test)

0.75

In [18]:
# Catboost model
from catboost import CatBoostClassifier

cat_model = CatBoostClassifier(verbose=False)
cat_model = cat_model.fit(X_train,y_train)

In [19]:
# Model evaluation
cat_model.score(X_test,y_test)

0.7333333333333333

In [21]:
# Logistic regresson model has better performance
import pickle

with open("Logit_model.pkl", 'wb') as file:
    pickle.dump(logit_model, file)